body {
  margin: 0;
  font-family: "Barlow Semi Condensed";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:auto;
}

code {
  font-family: "Barlow Semi Condensed"

}
